.card img{
    width: 400px;
    height: 300px;
}

@media screen and (max-width:769px){
    .card img{
        width: 350px;
        height: 300px;
    }
    .card {
        margin-bottom: 2rem;

    }
}